{% extends 'base.html.twig' %}

{% block title %}Web-программирование (Баранов Н.В.) – Работа 1 {% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <div class="example-wrapper">
        <h1>А.С. Пушкин – Дар напрасный, дар случайный...</h1>

        <p style="color: green">
            Дар напрасный, дар случайный,<br>
            <i>жизнь, зачем ты мне дана?</i><br>
            Иль зачем судьбою тайной<br>
            Ты на казнь осуждена?<br>
        </p>
        <p style="color: salmon">
            Кто меня враждебной властью<br>
            Из ничтожества воззвал,<br>
            <b>Душу мне наполнил страстью,</b><br>
            Ум сомненьем взволновал?..<br>
        </p>
        <p style="color: maroon">
            Цели нет передо мною:<br>
            Сердце пусто, празден ум,<br>
            И томит меня тоскою<br>
            <u>Однозвучный жизни шум.</u><br>
        </p>
        <img src="/images/hedgehog.jpg">
    </div>
{% endblock %}
